.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left input {
  left: 50%;
  margin: 10px;
  width: 200px;
  height: 40px;
}

.left button {
  width: 200px;
  height: 40px;
}

.right {
  height: 80%;
  width: 250px;
  border-left: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right h1 {
  margin-left: 400px;
}
.right p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 210px;
}
.names {
  margin-left: 400px;
  width: 500px;
  height: 500px;
  border: 1px solid lightgrey;
}
